/*autoprefixer: off*/
/*Base*/
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}

#page-container {
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #ff6d6d;
  padding-bottom: 100px;
}

.hover:hover {
  opacity: 0.8;
}

::selection {
  background: #000;
  color: #ff7300;
}

@font-face {
  font-family: 'Loki';
  src: url("/dist/fonts/Loki-Regular.ttf") format "ttf";
}

/*Components*/
.hero-section-div-block {
  position: relative;
  height: 800px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr;
  overflow-x: hidden;
  column-span: 4;
  row-span: 1;
  background-color: #000;
}

.marquee-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  position: relative;
}

.main-header {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 25px;
  width: 394px;
}

.marquee-container-1, .marquee-container-2 {
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 400px;
  height: 25px;
  color: #ff7300;
  animation-name: marquee-vertical-container-1;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.marquee-container-2 {
  animation-name: marquee-vertical-container-2;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 1s;
}

#marquee-text-2, #marquee-h1 {
  margin: 0 auto;
  position: relative;
  color: #ff7300;
  align-self: center;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  font-style: italic;
}

@keyframes marquee-vertical-container-1 {
  0% {
    transform: translateY(0);
  }
  5.55% {
    transform: translateY(-25px);
  }
  11.1% {
    transform: translateY(-25px);
    opacity: 0;
  }
  16.65% {
    transform: translateY(24px);
    opacity: 0;
  }
  44.42% {
    transform: translateY(24px);
    opacity: 1;
  }
  49.97% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes marquee-vertical-container-2 {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  5.55% {
    transform: translateY(-26px);
    opacity: 1;
  }
  33.32% {
    transform: translateY(-26px);
    opacity: 1;
  }
  38.88% {
    transform: translateY(-52px);
    opacity: 1;
  }
  66.65% {
    transform: translateY(-52px);
    opacity: 0;
  }
  72.2% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hero-slider-container {
  margin-top: 26px;
  background-color: #000;
  z-index: 1;
  height: auto;
  width: auto;
  position: relative;
  text-align: center;
}

#prev,
#next {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  position: absolute;
  padding: 16px;
  margin: 0 auto;
  top: 50%;
  color: #fff;
}

#next {
  right: 0%;
}

.slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.slide1 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/47.jpg");
}

.slide2 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/droptop.JPG");
}

.slide3 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/prabhdeepchitta.jpg");
}

.slide-content {
  display: flex;
  flex-direction: column;
}

.post-header-slider {
  background-color: #000;
  position: absolute;
  color: #ff7300;
  font-family: "Loki";
  font-weight: 300;
  font-size: 3.2rem;
  text-transform: uppercase;
  top: 20px;
  align-self: center;
}

.dot-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: absolute;
}

.dot {
  background-color: #fff;
  z-index: 300;
  height: 30px;
  width: 30px;
}

.main-container {
  width: 100%;
  height: auto;
  background-color: #ff6d6d;
}

#navbar {
  height: auto;
  transition: top 0.3s;
  position: fixed;
  z-index: 400;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
}

.navbar-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.slide-down-nav-link-container {
  width: 100%;
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.slide-down-nav-link {
  margin-right: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  align-self: center;
}

.slide-down-nav-header {
  width: auto;
  font-style: italic;
  font-size: 1.2rem;
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}

.slide-down-nav-header a {
  text-decoration: none;
  color: #fff;
}

#slide-down-nav-punchline-punjabi {
  font-weight: 300;
}

.slide-down-nav-social-icons-container {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
}

.slide-down-social-links {
  align-self: center;
}

.slide-down-social-icons {
  margin: 2px;
}

.grid-wrap {
  display: flex;
  justify-content: center;
}

.cms-wrapper {
  margin-top: 25px;
  width: auto;
  display: grid;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-template-rows: auto;
}

.cms-item-container {
  transition: all 0.2s ease;
}

.cms-item-container:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  transition: all 0.2s ease;
}

.cms-card-image {
  width: 300px;
  height: 200px;
  background-color: #000;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.image1 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/arrogant.jpg");
}

.image2 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/droptop.JPG");
}

.image3 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/prabhdeepchitta.jpg");
}

.image4 {
  background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/47.jpg");
}

.cms-text-block {
  position: relative;
  height: 220px;
  width: 300px;
  background-color: #000;
  border-top: #ff0167 1px solid;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cms-text-block-header {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #ff7300;
  font-style: italic;
  text-align: center;
  line-height: 24px;
}

.cms-paragraph {
  padding-top: 10px;
  color: #fff;
  text-align: center;
}

.category-subcat-wrapper {
  position: absolute;
  bottom: 0px;
  border: 1px #fff;
  width: 140px;
  height: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
}

.cms-category {
  background-color: #000;
  color: #fff;
  width: 70px;
  height: 20px;
  text-align: center;
  border: 1px solid #fff;
}

.cms-sub-category {
  background-color: #fff;
  width: 70px;
  height: 20px;
  text-align: center;
}

.newsletter-form-signup {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 0px;
  font-size: 2rem;
}

.newsletter-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form-text-input {
  border: none;
  width: 300px;
  height: 23px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  background-color: #000;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

#form-text-input::placeholder {
  color: #fff;
  text-align: center;
  font-weight: 200;
  opacity: 0.9;
}

.search-box-container {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  margin-bottom: 30px;
}

#form-container {
  position: relative;
  justify-self: center;
  width: 100%;
}

#search-input {
  background: transparent;
  height: 30px;
  width: 100%;
  border: grey solid 1px;
  text-align: center;
  color: white;
}

#search-input::placeholder {
  color: white;
  font-weight: 200;
  opacity: 70%;
}

#search-input:focus::placeholder {
  color: transparent;
}

#suggestions {
  display: none;
  font-weight: 200;
  border: 1px grey solid;
  color: white;
  text-align: center;
  cursor: pointer;
}

#suggestions.display-suggestions-panel {
  display: block;
}

#suggestions div {
  border-top: 1px grey solid;
}

.definition-box-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#definition-box {
  display: none;
}

#definition-box.definition-box-display {
  display: block;
  padding-top: 10px;
  height: 300px;
  width: 500px;
  border: 0.5px grey solid;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 200;
  font-size: 1.2rem;
  font-style: italic;
  color: #ff7300;
}

.spanName:hover {
  font-weight: 400;
  color: #ff7300;
}

/*.information-box-container {
  margin-left: 10px;

}

.information {
  height: 15px;
  width: 15px;
  color: white;
  text-align: center;
  font-size: 10px;
  border: 1px grey solid;
  border-radius: 50%;
  cursor: pointer;
}

#information-box {
  display: none;
}

#information-box.display-information-box {
  display: block;
  height: auto;
  width: 20%;
  border: 1px grey solid;
  color: white;
  @include fonts(Montserrat, $light, 1.2rem);
  padding: 5px;
}*/
/*Pages*/
.post-img-container {
  display: flex;
  justify-content: center;
  object-fit: cover;
  height: 600px;
}

.post-h1, .cat-h1 {
  font-family: "Loki";
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
  color: #ff7300;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.post-video {
  display: flex;
  justify-content: center;
}

.post-content-container, .cat-content-container {
  background-color: #000;
  display: flex;
  justify-content: center;
}

.post-content-container p, .cat-content-container p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
}

.lyrics-og {
  color: #fff;
  padding-left: 10px;
  position: relative;
}

.lyrics-og::before {
  content: "";
  height: 20px;
  width: 3px;
  background-color: #fff;
  position: absolute;
  display: block;
  left: -5px;
}

.post-h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #ff7300;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  color: #ff7300;
}

.post-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

#tte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.cat-content-container {
  flex-direction: column;
}

.cat-h1 {
  font-size: 3.8rem;
}

.cat-content {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  white-space: pre-line;
}

#tte {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 20px 24vw;
}

/*Layout*/
header {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: auto;
  height: 170px;
  padding-bottom: 1px;
}

.social-icons-wrapper-for-desktop {
  justify-self: center;
  height: auto;
  padding: 1px 2px;
  font-size: 1.8rem;
  grid-column: 1 / 2;
  background-color: #000;
  color: #fff;
  font-weight: 300;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  align-items: center;
}

#connect-with-us-text {
  grid-column: 1 / 2;
}

.social-icons-div-block-desktop {
  grid-column: 2 / 3;
  margin-top: 3.5px;
}

.brand-script-logo a {
  text-decoration: none;
  color: #000;
}

.brand-script-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4.4rem;
  font-style: italic;
  grid-column: 2 / 3;
}

#punjabi {
  padding: 25px;
}

.desktop-nav-menu-wrapper {
  width: auto;
  background-color: #000;
  list-style: none;
  text-decoration: none;
  font-size: 1.8rem;
  grid-column: 3 / 4;
  justify-self: center;
  font-weight: 300;
}

.desktop-nav-menu-wrapper a {
  color: #fff;
  text-decoration: none;
}

#features,
#playlists,
#beats {
  padding-right: 5px;
}

#insta-svg {
  transform: scale(0.9);
}

.footer-div-block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100px;
  background-color: #000;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 300;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.copyright-and-email {
  align-self: center;
  text-align: center;
}

.privacy-div-block a {
  text-decoration: none;
  color: #fff;
}

.privacy-div-block {
  margin-top: 10px;
}

.burger-menu-exit-button,
.burger-menu-popup,
.slide-down-burger-menu,
.burger-menu {
  display: none;
}

.slide-down-burger-menu {
  display: none;
  height: auto;
  background-color: #000;
  color: #fff;
  justify-self: center;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .cms-wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (max-width: 1200px) {
  #tte {
    padding: 20px 15vw;
  }
}

@media (max-width: 990px) {
  .cat-content {
    font-size: 1.8rem;
  }
  .cms-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .desktop-nav-menu-wrapper {
    display: none;
  }
  .burger-menu {
    display: block;
    height: auto;
    background-color: #000;
    color: #fff;
    justify-self: center;
    cursor: pointer;
    font-size: 1.6rem;
  }
  .connect-with-us-div-block {
    display: none;
  }
  .social-icons-wrapper-for-desktop {
    width: auto;
    padding-top: 0;
  }
  .burger-menu-popup {
    width: 100vw;
    color: #fff;
    background-color: #000;
    z-index: 999;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.6rem;
  }
  .burger-menu-popup .burger-menu-exit-button {
    border: #fff 1px solid;
    border-radius: 10px;
    text-align: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
  }
  .burger-menu-popup .burger-menu-nav-link-container {
    display: none;
  }
  .burger-menu-popup .burger-menu-nav-link-container a {
    color: #fff;
    text-decoration: none;
  }
}

@media (max-width: 760px) {
  .cat-content {
    font-size: 1.6rem;
  }
  .slide-down-nav-link-container {
    display: none;
  }
  .slide-down-burger-menu {
    display: block;
    display: flex;
    align-items: center;
  }
  .slide-down-burger-menu {
    justify-self: flex-end;
  }
}

@media (max-width: 630px) {
  .cms-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

.main-section-heading {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#main-section-heading-h2 {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 3.4rem;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */