//Colour

$orange: #ff7300;
$pink: #ff0167;
$salmon: #ff6d6d;
$black: #000;
$white: #fff;

// Font Weights

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$x-light: 200;
$thin: 100;


