.grid-wrap {
  display: flex;
  justify-content: center;
}

.cms-wrapper {
  margin-top: 25px;
  width: auto;
  display: grid;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-template-rows: auto;
}

.cms-item-container {
  transition: all 0.2s ease;
}

.cms-item-container:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
  transition: all 0.2s ease;
}

.cms-card-image {
  width: 300px;
  height: 200px;
  background-color: $black;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

$imgUrls: (
  image1: "https://arjengill.github.io/punjabimusicwebsite/dist/images/arrogant.jpg",
  image2: "https://arjengill.github.io/punjabimusicwebsite/dist/images/droptop.JPG",
  image3: "https://arjengill.github.io/punjabimusicwebsite/dist/images/prabhdeepchitta.jpg",
  image4: "https://arjengill.github.io/punjabimusicwebsite/dist/images/47.jpg",
);

@each $key, $url in $imgUrls {
  .#{$key} {
    background-image: url($url);
  }
}

.cms-text-block {
  position: relative;
  height: 220px;
  width: 300px;
  background-color: $black;
  border-top: $pink 1px solid;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cms-text-block-header {
  @include fonts(Jost, $medium, 2rem);
  color: $orange;
  font-style: italic;
  text-align: center;
  line-height: 24px;
}

.cms-paragraph {
  padding-top: 10px;
  color: $white;
  text-align: center;
}

.category-subcat-wrapper {
  position: absolute;
  bottom: 0px;
  border: 1px $white;
  width: 140px;
  height: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
}

.cms-category {
  background-color: $black;
  color: $white;
  width: 70px;
  height: 20px;
  text-align: center;
  border: 1px solid $white;
}

.cms-sub-category {
  background-color: $white;
  width: 70px;
  height: 20px;
  text-align: center;
}
