.hero-slider-container {
    margin-top: 26px;
    background-color: $black;
    z-index: 1;
    height: auto;
    width: auto;
    position: relative;
    text-align: center;
  }
  
  #prev,
  #next {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    position: absolute;
    padding: 16px;
    margin: 0 auto;
    top: 50%;
    color: $white;
  }
  
  #next {
    right: 0%;
  }
  
  .slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .slide1 {
    background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/47.jpg");
  }
  
  .slide2 {
    background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/droptop.JPG");
  }
  
  .slide3 {
    background-image: url("https://arjengill.github.io/punjabimusicwebsite/dist/images/prabhdeepchitta.jpg");
  }
  
  .slide-content {
    display: flex;
    flex-direction: column;
  }
  
  .post-header-slider {
    background-color: $black;
    position: absolute;
    color: $orange;
    @include fonts(Loki, $light, 3.2rem);
    text-transform: uppercase;
    top: 20px;
    align-self: center;
  }
  
  .dot-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    position: absolute;
  }
  
  .dot {
    background-color: $white;
    z-index: 300;
    height: 30px;
    width: 30px;
  }
  
  .main-container {
    width: 100%;
    height: auto;
    background-color: $salmon;
  }
  