* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


body {
  @include fonts(Montserrat, $light, 1.6rem);
}

#page-container {
  height: auto;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: $salmon;
  padding-bottom: 100px;
}

.hover:hover {
  opacity: 0.8;
}

::selection {
  background: $black;
  color: $orange;
}
